body 
{
    background-color: #9C9CCE;
}

#header 
{
    position: relative;
    margin-top: -10px;
    margin-left: 35%;
    margin-right: 35%;
}

#body 
{
    position: relative;
}

.logo
{
    width: 16px;
    height: 16px;
}

.nav 
{
    background-color: #8a92c7;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;


    border: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav a 
{
    color: #ffffff;
    text-decoration: none;
}

.nav li 
{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.centered 
{
    text-align: center;
}

.underline
{
    text-decoration: underline;
}